ion-card {
  align-content: center;
  width: 420px;
  background-color: #f4f1d6;
  border-radius: 8px;
  padding: 8px;
}

ion-title {
  color: #0d0d0d;
  text-align: center;
  text-overflow: inherit;
  white-space: normal;
}

ion-grid {
  background-color: #FF6961;
}

ion-card-title {
  display: block;
  font-size: large;
  line-height: 150%;
  color: #0d0d0d;
}

ion-img {
  height: 450px;
}
