<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-item>
        <ion-searchbar #searchbar></ion-searchbar>
        <ion-button (click)="getMovieList(searchbar.value)">Buscar</ion-button>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-align-items-center">
    <ion-grid>
      <ion-row>
          <ion-col *ngFor="let movie of movieList" size="auto">
            <ion-card [routerLink]="['/info', movie.imdbID]">
              <ion-img src="{{movie.Poster}}"></ion-img>
              <ion-card-title style="text-align: center">{{movie.Title}}</ion-card-title>
            </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
